# Automatically merge pull requests opened by web3-bot, as soon as (and only if) all tests pass.
# This reduces the friction associated with updating with our workflows.

name: Automerge
on:
  # see https://docs.github.com/en/actions/using-workflows/reusing-workflows#creating-a-reusable-workflow
  workflow_call:
    secrets:
      GITHUB_TOKEN:
        required: true

jobs:
  automerge-check:
    if: github.event.pull_request.user.login == 'web3-bot'
    runs-on: ubuntu-latest
    outputs:
      status: ${{ steps.should-automerge.outputs.status }}
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Check if we should automerge
      id: should-automerge
      run: |
        for commit in $(git rev-list --first-parent origin/${{ github.event.pull_request.base.ref }}..${{ github.event.pull_request.head.sha }}); do
          committer=$(git show --format=$'%ce' -s $commit)
          echo "Committer: $committer"
          if [[ "$committer" != "web3-bot@users.noreply.github.com" ]]; then
            echo "Commit $commit wasn't committed by web3-bot, but by $committer."
            echo "::set-output name=status::false"
            exit
          fi
        done
        echo "::set-output name=status::true"
  automerge:
    needs: automerge-check
    runs-on: ubuntu-latest
    # The check for the user is redundant here, as this job depends on the automerge-check job,
    # but it prevents this job from spinning up, just to be skipped shortly after.
    if: github.event.pull_request.user.login == 'web3-bot' && needs.automerge-check.outputs.status == 'true'
    steps:
    - name: Wait on tests
      uses: lewagon/wait-on-check-action@752bfae19aef55dab12a00bc36d48acc46b77e9d # v1.1.1
      with:
        ref: ${{ github.event.pull_request.head.sha }}
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        wait-interval: 10
        running-workflow-name: 'automerge' # the name of this job
    - name: Merge PR
      uses: pascalgn/automerge-action@2e9644b0b86a2c052525921f181f905dc8102da5 # v0.15.3
      env:
        GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        MERGE_LABELS: ""
        MERGE_METHOD: "squash"
        MERGE_DELETE_BRANCH: true
