name: test & maybe release
on:
  workflow_call:
    inputs:
      type:
        description: 'Emulate a push manually'
        required: false
        default: 'nothing'
        type: string

jobs:

  release:
    runs-on: ubuntu-latest
    if: (github.event.inputs.type == 'push' || github.event_name == 'push') && github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - uses: ipfs/aegir/actions/cache-node-modules@master
      - uses: ipfs/aegir/actions/docker-login@master
        with:
          docker-token: ${{ secrets.DOCKER_TOKEN }}
          docker-username: ${{ secrets.DOCKER_USERNAME }}
      - run: npm run --if-present release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
