name: Publish compliance reports
on:

  # see https://docs.github.com/en/actions/using-workflows/reusing-workflows#creating-a-reusable-workflow
  workflow_call:
    inputs:
      type:
        description: 'If a workflow that calls this workflow is called via workflow_dispatch, it should pass this property'
        required: true
        default: 'nothing'
        type: string

  workflow_dispatch:
    inputs:
      type:
        description: 'Emulate either schedule, push, or pull_request'
        required: true
        default: 'schedule'
        type: choice
        options:
        - schedule
        - push
        - pull_request

jobs:

  # Deploy to gh pages branch
  push-reports-to-gh-pages:
    runs-on: ubuntu-latest
    if: (github.event.inputs.type == 'push' || github.event_name == 'push') && github.ref == 'refs/heads/main'
    concurrency: ci-${{ github.ref }} # Recommended if you intend to make multiple deployments in quick succession.
    steps:
      - name: Reports Cache
        uses: actions/cache@v3
        with:
          path: docs
          key: ${{ github.sha }}-pinata
      - name: Reports Cache
        uses: actions/cache@v3
        with:
          path: docs
          key: ${{ github.sha }}-estuary
      - name: Reports Cache
        uses: actions/cache@v3
        with:
          path: docs
          key: ${{ github.sha }}-nft
      - name: Reports Cache
        uses: actions/cache@v3
        with:
          path: docs
          key: ${{ github.sha }}-web3
      - name: Reports Cache
        uses: actions/cache@v3
        with:
          path: docs
          key: ${{ github.sha }}-filebase
      - name: Reports Cache
        uses: actions/cache@v3
        with:
          path: docs
          key: ${{ github.sha }}-crust
      - name: Reports Cache
        uses: actions/cache@v3
        with:
          path: docs
          key: ${{ github.sha }}-4everland
      - name: Scheduled deployment
        uses: s0/git-publish-subdir-action@77ba3d841ebd413837b5e72676bd9e54e537f3f8
        env:
          REPO: self
          BRANCH: gh-pages
          FOLDER: docs
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SQUASH_HISTORY: false
          MESSAGE: "Update published reports with changes from {sha} with message:\n{msg}"
          SKIP_EMPTY_COMMITS: false
